.root {
  display: flex;
  justify-content: center;
}

.ticket_list_conteiner {
  grid-template-columns: 1fr 2fr;
  display: grid;
  gap: 20px;
}

.ticket_list {
  display: grid;
  gap: 20px;
  height: 700px;
  overflow: auto;
}

.ticket_list_conteiner {
  row-gap: 20px;
}

.ticket_no {
  width: 502px;
  font-size: 18px;
  background-color: #ffffff;
  border: 2px solid gray;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}
